/* ================= COMMON STYLES ================= */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.page-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #4c6fff;
}

.page-subtitle {
    font-size: 15px;
    color: #777;
    margin-bottom: 24px;
}
/* Modal Background */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 3000;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.modal-body {
  flex: 1;
 }

.modal-overlay.show .modal-card {
    transform: translateY(0);
}
.modal-header,
.modal-footer {
   background: #fff;
  z-index: 2;
}
.modal-header {
  top: 0;
}
.modal-footer {
  bottom: 0;
}

/* Close Button */
 .modal-close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 28px;
    cursor: pointer;
    color: #666;
}

.modal-close:hover { color: Red; }

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background: #4A6CF7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn:hover {
    background: #3f5be0;
}

/* Form Input */
input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #4A6CF7;
    outline: none;
}

/* Add Button (topbar) */
.add-btn {
    padding: 9px 18px;
    background: #4c6fff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.add-btn:hover {
    background: #3a57de;
}

/* Table Search Input */
.table-search {
    padding: 10px 14px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    width: 220px;
    transition: 0.2s ease;
}

.table-search:focus {
    border-color: #4c6fff;
    box-shadow: 0 0 0 3px rgba(76, 111, 255, 0.2);
}
.message-container {
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from { opacity: 0; transform: translate(-50%, -20px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}
 