/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.35;
}


body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
}


/* HEADER STYLE */
header{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.logo{
    font-size: 35px;
    font-weight: 700;
    color: #ffa31a;
}

nav a{
    margin: 0 15px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

nav a:hover{
    color: #ffa31a;
}

.search-box{
    display: flex;
}

.search-box input{
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
}

.search-box button{
    background: #ffa31a;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #fff;
}

/* HERO SECTION */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    color: white;
}

.text-area{
    width: 50%;
    margin-top: 40px;
}

.text-area h1{
    font-size: 60px;
    line-height: 1.2;
}

.text-area span{
    color: #ffa31a;
}

.text-area p{
    margin: 20px 0;
    width: 80%;
}

.join-btn{
    background: #ffa31a;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}


.login-box h2{
    background: white;
    color: #ffa31a;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.login-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
}

.login-btn{
    width: 100%;
    padding: 12px;
    background: #ffa31a;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}



.login-with{
    margin: 10px 0;
    font-size: 14px;
}

.social-icons i{
    color: white;
    margin: 0 8px;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.social-icons i:hover{
    color: #ffa31a;
}





/* LOGIN BOX */
.login-box{
    width: 100%;
    background: rgba(0, 0, 0, 0.72);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}



.auth-wrapper {
    position: relative;
    width: 350px; /* same width as your login/signup boxes */
}
.auth-wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
}

.select-box {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
}
.select-box option {
    color: black;
}

/* Password Field Wrapper */
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
}

/* Eye Icon */
.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffa31a;
    cursor: pointer;
    font-size: 18px;
}

